<div class="wordmark">Administration page</div>
    <h2>Students</h2>
<% @students.each do |student| %>
    <div>
      <%= student.id %> => <%= student.email %>
    </div>
<% end %>
<!-- <div class="container"> -->
    <h2>Mentors</h2>
<% @mentors.each do |mentor| %>
    <div>
      <%= mentor.id %> => <%= mentor.email %>
    </div>
<% end %>


<h2>Admins:</h2>
<% if @admins %>
 <% @admins.each do |admin| %>
   <ol>
       email: <i><%= admin.id %> => <%= admin.email %></i> |
       <%= link_to "Remove this admin", "/admins/#{admin.id}", method: :delete %>
     </h4>
   </ol>
 <% end %>
<% else %>
 <h3>There are no current admins</h3>
<% end %>

