<div>
  <div class="container">
    <main>
      <section id="about">
        <figure class="about-fig">
          <%= image_tag 'http://simplerev.com/wp-content/uploads/Generic-Avatar.jpg', class: 'profile-pic' %>
            <h4 class="wordmark"><%= current_user.role %></h4>
            <h5 class="info"><a href="mailto:<%= @student.contact_email %>" target="_top"><%= @student.contact_email %></a></h5>
          <h5 class="info"><%= number_to_phone( @student.phone_number, area_code: true ) %> </h5>
        </figure>
      </section>

      <h1 id="name" class="head"><%= @student.name %></h1>
      <br/>
      <h4 class="title">About me:</h4>
      <figcaption class="about-caption">
          <%= @student.profile.body %>
      </figcaption>
    </main>
  </div>
  <br />
    <div class="col-md-12">
       <%= link_to 'Edit Profile', edit_student_path, class: 'btn btn-primary pull-right' %> 
    </div>
    <br/>
    <br/>
</div>
