<div class="modal-dialog">
    <div class="modal-content">
        <%= form_for @event do |form| %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add a Event</h4>
            </div>
            <div class="modal-body">
                <% if @event.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
                        <ul>
                            <% @event.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <div>
                    <%= form.label :title %>
                    <%= form.text_field :title %>
                </div>
                <div>
                    <%= form.label :description, 'Description' %>
                    <%= form.text_field :description %>
                </div>
                <div>
                    <%#= form.label :the_date, 'Date' %>
                    <%#= form.date_select :the_date %>
                </div>
                <div>
                    <div>
                      <%= form.label 'Select the Day' %>
                      <%= date_field(:event, :the_date) %>
                    </div>
                </div>
                <div>
                    <%= form.label 'Select a starting time' %>
                    <%= time_field(:event, :start_time) %>
                </div>
                <div>
                    <%= form.label 'Select a ending time' %>
                    <%= time_field(:event, :end_time) %>
                </div>
                <div>
                    <%= form.label 'Upload a document' %>
                    <%= form.file_field :file_array, multiple: true %>
                    <br/>
<!-- #TODO not sure this is right -->
                    <% if @documents.present? %>
                        <% @documents.each do |document| %>
                            <%= link_to delete_document_path({document_id: document.id, tab: :announcements}), data: {confirm: 'Are you sure?'} do %>
                            <%= document.file_array_file_name %> <i class="fa fa-times-circle delete-link"></i><br/>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
                <div id="link-container">
                    <label style="width: 250px !important">Number of links to add: (max. 5)</label><br/>
                    <input type="text" id="edit-event" name="edit-announcement" value="">
                    <a href="" id="filldetails" onclick="addFields('edit-event', 'edit-event-container');return false" class="label label-primary">Add Links</a><br/>
<!-- #TODO not sure this is right -->
                    <% if @links.present? %>
                        <% @links.each do |link| %>
                            <div id="link">
                                <input name="links[]" type="text" value="<%= link %>" />
                                <a href="" id="filldetails" onclick="removeFields('link');return false"><i class="fa fa-times-circle delete-link"></i></a><br/>
                            </div>
                        <% end %>
                    <% end %>

                    <div id="edit-event-container"></div>
                </div>
            </Div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= form.submit 'Add Event', class: 'btn btn-primary pull-right' %>
            </div>
        <% end %>
    </div>
</div>
