<div class="modal-dialog">
  <div class="modal-content">
  <%= form_for @resource do |form| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Add a Resource</h4>
    </div>
    <div class="modal-body">
        <% if @resource.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                    <% @resource.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div>
            <%= form.label :title %><br/>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :description, 'Short Description' %>
            <%= form.text_area :description, rows: "1", cols: "50" %>
        </div>
        <div>
            <label style="width: 200px !important">Number of links: (max. 5)</label><br/>
            <input type="text" id="member" name="member" value="">
            <a href="#" id="filldetails" onclick="addFields()" class="label label-primary">Add Links</a>
            <div id="container"></div>
        </div>
        <div>
            <%= form.label 'Upload a document' %>
            <%= form.file_field :file_array, multiple: true %>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= form.submit 'Add Resource', class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  </div>
</div>

<script>
    function addFields() {
        var number = document.getElementById("member").value;
        var container = document.getElementById("container");
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for(i=0; i < number; i++){
            container.appendChild(document.createTextNode("link " + (i+1)));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "links[]";
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
        }
    }
</script>
