<% if current_user %>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to @page_title, @home_url, class: "navbar-brand" %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if !current_page?(url_for(:controller => 'admins', :action => 'new')) %>
                        <li>
                            <a href="<%= @profile_url %>">
                                My Profile
                            </a>
                        </li>
                      <li><%= link_to 'Students', students_path %></li>
                      <li><%= link_to 'Mentors', mentors_path %></li>
                      <% if current_user && current_user.student? || current_user.admin? %>
                        <li><%= link_to 'Trello', "https://www.trello.com", target: '_blank' %></li>
                      <% end %>
                      <% if current_user && current_user.student? || current_user.mentor? || current_user.admin? %>
                        <li><%= link_to 'Slack', "https://www.slack.com", target: '_blank'  %></li>
                      <% end %>
                      <% if current_user && current_user.admin? %>
                        <li><%= link_to 'Administration Dashboard', admins_path %></li>
                      <% end %>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-2x fa-cogs settings_icon" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li>
                      <a href="/users/sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Log Out</a></li>
                  <li><a href="<%= change_password_path %>"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;Change Password</a></li>
                </ul>
              </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div style="border-bottom: 2px solid #ffba02">
    <div class="row">
        <div class="col-sm-4">
            <span class="nav-date"><%= Time.now.strftime("%A, %B %d, %Y") %></Span>
        </div>
        <div class="col-sm-4 nav-title">
            <span class="wordmark"><%= current_user.page_title %></span>
        </div>
        <div class="col-sm-4">
            <span class="nav-name pull-right">Welcome <%=  current_user.email %></span>
        </div>
    </div>
</div>
    <!-- TODO need to work on the groups see trello -->
<% end %>
<!-- Mentor Modal -->
<div class="modal fade" id="addMentor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render 'partials/create_mentor' %>
</div><!-- /.modal -->
