<div class="wordmark"><h4>Mentor Profiles</h4></div>
  <% if !@mentors.empty? && !@profiles.empty?%>
    <% @mentors.each do |mentor| %>
        <div class="container" style="margin-bottom: 20px">
            <main>
            <section id="about">
                <figure class="about-fig">
                    <%= image_tag mentor.profile.avatar.url(:medium), class: 'profile-pic'  %> 
                <h4 class="wordmark">MENTOR</h4>
                    <h5 class="info"><a href="mailto:<%= mentor.contact_email %>" target="_top"><%= mentor.contact_email %></a></h5>
                <h5 class="info"><%= number_to_phone( mentor.phone_number, area_code: true ) %> </h5>
                </figure>
            </section>

            <h1 id="name" class="head"><%= mentor.name %></h1>

            <figcaption class="about-caption">
                <%= mentor.profile.nil? ? "No Profile was found." : mentor.profile.body %>
            </figcaption>
        </main>
        </div>
    <% end %>
  <% else %>
    <p>
        No Mentors
    </p>
  <% end %>
