  <div class="container">
        <h1>Create my profile view make this a partial</h1>
        <%= form_for([ @mentor, @profile ])  do |form| %>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <%= form.label :first_name %>
                        <%= form.text_field :first_name %>
                    </div>
                    <div>
                        <%= form.label :last_name %>
                        <%= form.text_field :last_name %>
                    </div>
                    <div>
                        <%= form.label :phone_number %>
                        <%= form.text_field :phone_number %>
                    </div>
                    <div>
                        <%= form.label :company %>
                        <%= form.text_field :company %>
                    </div>
                    <div>
                        <%= form.label :industry %>
                        <%= form.text_field :industry %>
                    </div>
                    <div>
                        <%= form.label :website %>
                        <%= form.text_field :website %>
                    </div>
                    <div>
                        <% form.fields_for(:profile) do |builder| %>
                            <%= builder.label :body %>
                            <%= builder.text_area :body %>
                        <% end %>
                    </div>
                </div>
            </div>
  </div>
        <!-- copy the forms I have in my blog -->
  <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= submit_tag "Add Mentor", class: "btn btn-primary" %>
        <!-- copy the forms I have in my blog -->
      <% end %>
  </div>
</div>
