<div class="container margin-top new-story-container">
    <div class="row">
        <div class="col-md-9">
            <%= form_for @story do |form| %>
            <div class="modal-content">
                <div class="modal-body">
                    <% if @story.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@story.errors.count, "error") %> prohibited this user from being saved:</h2>
                            <ul>
                                <% @story.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div>
                        <%= form.label :title %><br/>
                        <%= form.text_area :title, rows: "2", style: "width: 100%" %>

                    </div>
                    <br/>
                    <div>
                        <%= form.label :body, 'Text' %>
                        <%= form.text_area :body, rows: "6", style: 'width: 100%' %>
                    </div>
                </div>

                <div class="modal-footer">
                    <%= form.submit 'Add Story', class: 'btn btn-success pull-right' %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="new-link">
                    <%= link_to "New post", new_story_path, class: 'btn btn-default new-story-btn' %>
                </div>
            </div> 
        </div>
    </div>
</div>
