<div class="container margin-top">
    <div class="row">
        <div class="col-md-9">
            <!-- Below is if the title has a url, I think... -->
            <%#= link_to(@story.title, @story.url, target: "_blank") %><br/>
            <div class="story-title">
                <%= @story.title %>
            </div>
            <div class="story-container">
                <%= @story.body %>
            </div>
            <small class="story-submitted pull-right">Submitted <%= time_ago_in_words(@story.created_at) %> ago, by: <%= current_user.email %></small><br />
            <hr class="story-hr"/>
            <h4>Comments</h4>
            <div class="comments-container">
                <%= form_for [@story, Comment.new] do |f| %>
                    <%= f.text_area :body, placeholder: "Comment text...", rows: "5", cols: "50" %><br/>
                    <%= f.submit "Post", class: 'btn btn-success' %>
                <% end %>

                <ul>
                    <%= render(partial: 'comments/comment', collection: @story.comments) %>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <p>
                    This post was submitted on <%= @story.created_at.strftime("%A, %b %d, %Y") %>
                </p>
                <div class="new-link">
                    <%= link_to "New post", new_story_path, class: 'btn btn-default new-story-btn' %>
                </div>
            </div> 
        </div>
    </div>
</div>
