<div class="modal-dialog">
  <div class="modal-content">
  <%= form_for @resource do |form| %>
    <div class="modal-header">
      <h4 class="modal-title">Edit a Resource</h4>
    </div>
    <div class="modal-body">
        <% if @resource.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                    <% @resource.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div>
            <%= form.label :title %><br/>
            <%= form.text_field :title, style: 'width: 421px' %>
        </div>
        <br/>
        <div>
            <%= form.label :description, 'Short Description' %>
            <%= form.text_area :description, rows: "2", cols: "50" %>
        </div>
        <br/>
        <div id="link-container">
            <label style="width: 250px !important">Number of links to add: (max. 5)</label><br/>
            <input type="text" id="member" name="member" value="">
            <a href="" id="filldetails" onclick="addFields();return false" class="label label-primary">Add Links</a><br/>
            <% @links.each do |link| %>
                <div id="link">
                    <input name="links[]" type="text" value="<%= link %>" />
                    <a href="" id="filldetails" onclick="removeFields('link');return false"><i class="fa fa-times-circle delete-link"></i></a><br/>
                </div>
            <% end %>
            <div id="container"></div>
        </div>
        <div>
            <%= form.label 'Upload a document' %>
            <%= form.file_field :file_array, multiple: true %>
            <br/>
            <% @documents.each do |document| %>
                <%= link_to delete_document_path({document_id: document.id}), data: {confirm: 'Are you sure?'} do %>
                  <%= document.file_array_file_name %> <i class="fa fa-times-circle delete-link"></i><br/>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", admins_path(tab: :resources), class: "btn btn-default", style: 'color: #000 !important'  %>
      <%= form.submit 'Save Resource', class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  </div>
</div>

<script>
    function addFields() {
        var number = document.getElementById("member").value;
        var container = document.getElementById("container");
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for(i=0; i < number; i++){
            container.appendChild(document.createTextNode("link " + (i+1)));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "links[]";
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
        }
    }
 function removeFields(e) {
     var parent = document.getElementById("link-container");
     var link_input = document.getElementById(e);
     parent.removeChild(link_input);
 }
</script>
