<div class="container content-container">
  <h1 class="resources-title">Resources</h1>
  <hr/
  <div class="row">
    <% @resources.each do |resource| %>
      <div class="col-md-4" style="min-height: 300px">
        <div class="panel panel-default">
          <a href="<%= resource.link %>" target="_blank">
            <div class="panel-heading resource-head-title">
              <%= image_tag("download.png", :alt => "Resource Icon", :class => "resource-image") %>
                <%= resource.title %>
            </div>
          </a>
          <div class="panel-body">
            <%= resource.description %>
                <% if resource.documents.present? %>
                    <% resource.documents.each do |document| %>
                        <ul>
                            <li>
                            <a href="<%= document.file_array.url %>" target="_blank">Resource Document</a>
                            </li>
                        </ul>
                    <% end %>
                <% end %>
                <hr/>
                <% if resource.links.present? %>
                    <% resource.links.each do |link| %>
                        <ul>
                            <li>
                                <a href="<%= link %>" target="_blank">Resource Link</a>
                            </li>
                        </ul>
                    <% end %>
                <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
