<!DOCTYPE html>
<html>

<head>
  <title>GrayMatter</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Cabin+Sketch|Fredericka+the+Great" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class="page-header">
      <%= image_tag("gray_brain.png", :alt => "Gray Matter Logo", :class => "main-logo-image") %>
    </div>
    <%= render 'partials/navigation_bar' %>
  </header>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <% if key != "timedout" %>
            <%= value %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= yield %>

    <script>
     $(document).ready(function() {
         setTimeout(function() {
             $('#flash').remove();
         }, 5000);
     })
    </script>
</Body>

</html>
